<!DOCTYPE html>
<html>
<head>
    <title>Movie Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/bca02ebade.js"></script>
     <!-- For overwriting bootstrap -->
    <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top navcustom">
            <div class="container">
                    <!-- entering company logo and a hamburger for collapsing-->
                    <div class="navbar-header">
                        
                    
                        <a href="/" class="navbar-brand"><i class="fa fa-home" aria-hidden="true"></i> Movie Search Application </a>
                    </div>
                <div class="collapse navbar-collapse" id="bs-nav-bar1">
                    <!-- body of navbar left side -->
                    <ul class="nav navbar-nav">
                        <!--<li><a href="aboutme.html" title=""> About</a> </li>-->
                        <!--<li><a href="projects.html" title=""> Projects</a> </li>-->
                        
                    </ul>
                    <!-- right side of navbar -->
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li><a href="contactme.html" title=""><span class="glyphicon glyphicon-envelope"></span> Contact</a>-->
                    </ul>
                </div>
            </div>
    </nav>