body {
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
footer{
    
    background-color: #f0f0f0;
    color:black;
    position: fixed;
    bottom: 0;
    width: 100%;
}
input[type='text'] {
    font-size: 18px;
    background-color: #f7f7f7;
    width:100%;
    padding: 13px 13px 13px 13px;
    box-sizing: border-box;
    color: #2980e9;
}
input:focus {
    /* in focus when we type in input*/
    background: #fff;
    border: 3px solid #2980e9;
    outline: none;
}
.search_results {
    margin: 0 auto;
    padding: 5%;
    width:60%;
}
.jumbotron {
    margin: 0 auto;
    margin-top: 5%;
    padding: 5%;
    background-color: rgba(238, 238, 238, 0)
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.movie-body {
    margin: 0 auto;
    padding: 5%;
    margin-top: 5%;
}
.movie_data{
    background-color: #fceaff;
    padding: 2%;
}
.error-msg {
    text-align: center;
    color:white;
}