<% include partials/header %>


<% include partials/search_form %>

<div class="container" class="search_results">
    <% if (typeof data["Search"] !== "undefined") { %>
        <div class="row flex">
        <% data["Search"].forEach(function(movie){ %>
            
                <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail img-responsive">
                        <a href="/movie/<%= movie["imdbID"] %>"> <img src="<%= movie["Poster"] %>" class="searched_images">
                        <div class="caption" align="center">
                            <p><%= movie["Title"] %></p>
                        </div></a>
                       
                        
                    </div>
                    
                </div>
           
        <% }); %>
        </div>
    <% } else { %>
            <h3 class="error-msg">This is embarassing. We can't find what you are searching for.Try another title!!</h2>
    <% } %>
</div>



<% include partials/footer %>